opencv-python==4.8.1.78
mediapipe==0.10.9
numpy==1.23.5
tensorflow==2.12.0
protobuf==3.20.3
absl-py==1.4.0
matplotlib==3.7.5
scikit-learn==1.3.2
imutils==0.5.4
sounddevice==0.5.3
opencv-contrib-python==4.8.1.78